alembic==1.4.3
allure-pytest==2.8.32
allure-python-commons==2.8.32
astroid==2.4.2
atomicwrites==1.4.0
attrs==20.3.0
brotlipy==0.7.0
cachetools==4.2.1
certifi==2020.12.5
cffi
chardet
click==7.1.2
colorama==0.4.3
cryptography
cssselect==1.1.0
cssutils==1.0.2
Flask==1.1.2
Flask-Cors==3.0.10
Flask-HTTPAuth==4.2.0
Flask-Migrate==2.5.3
Flask-Script==2.0.6
Flask-SQLAlchemy==2.4.4
gunicorn==20.0.4
idna
iniconfig==1.1.1
isort==4.3.21
itsdangerous==1.1.0
Jinja2==2.11.2
lazy-object-proxy==1.4.3
lxml==4.6.2
Mako==1.1.3
MarkupSafe==1.1.1
mccabe==0.6.1
mysqlclient
packaging==20.9
pluggy==0.13.1
premailer==3.7.0
py==1.10.0
pycparser
PyJWT==2.0.0
pylint==2.5.3
pyOpenSSL
pyparsing==2.4.7
PySocks
pytest==6.2.2
pytest-rerunfailures==9.1.1
python-dateutil==2.8.1
python-dotenv==0.15.0
python-editor==1.0.4
PyYAML==5.4.1
requests
selenium==3.141.0
six
SQLAlchemy==1.3.22
toml==0.10.1
urllib3
Werkzeug==1.0.1
win-inet-pton
wincertstore==0.2
wrapt==1.12.1
WTForms
yagmail==0.14.245
flask-apscheduler==1.12.1
apscheduler
gevent
eventlet==0.30.2
